name: Azure PowerShell Workflow

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-powershell:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Install PowerShell modules
      shell: pwsh
      run: |
        Set-PSRepository PSGallery -InstallationPolicy Trusted
        Install-Module -Name Az -Force
        
    - name: Run PowerShell script
      shell: pwsh
      run: |
        ./HelloWorld.ps1
